{% extends 'base.html.twig' %}

{% block body %}
    <h3>Bienvenue , Vous avez été correctement enregistré !</h3>
    <p>Connectez-vous à l'aide de vos identifiants afin d'accéder au site</p>
    <a href="{{ path('pro')}}"> Me connecter </a><br>
{% endblock %}