{% extends 'base.html.twig' %}

{% block body %}
    Bienvenue , Vous avez été correctement enregistré !
    <a href="{{ path('admin')}}"> Aller à la page d'accueil Administrateurs</a><br>

{% endblock %}