/* HEADER/FOOTER GILDAS */
@font-face {
    font-family: 'moon_flowerregular';
    src: url('../font/moon_flower-webfont.woff2') format('woff2'),
    url('../font/moon_flower-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dk_lemon_yellow_sunregular';
    src: url('../font/dk_lemon_yellow_sun-webfont.woff2') format('woff2'),
    url('../font/dk_lemon_yellow_sun-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
    url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header {
    background-color: #fce0e0;

}

#cadreonglet {
}
#liens {
    font-size: 1.9em;
    position: relative;

}

#liens a {
    padding: 0.9%;
    position: relative;
    top: 70px;
    float: right;
    font-family: 'robotoregular';

}

a {
    color: #000000;
    text-decoration: none;
    list-style-type: none;
}

a:hover{
    text-decoration: none;
    color: #62cb40;
}


#logo {
    width: 13%;
    position: relative;
    padding: 1%;
}
#panier {
    position: relative;
    float: right;
    right: 6.5%;
    top: 15px;
}
h1  {
    font-family: 'moon_flowerregular';
    font-weight: bold;
    font-size: 4em;
}


#titreheader {
    position: relative;
    display:  inline-flex;
    text-align:center;
    left: 25%;
}

#footer{
    background-color: #fce0e0;

}

#social {
    padding-top: 5%;


}

#carte {
    padding: 2%;
    padding-right: 6%;
    overflow: hidden;

}

#facebook {
    padding: 6%;
    width: 33%;
}

#twitter {
    padding: 6%;
    width: 33%;
}

#insta {
    padding: 6%;
    width: 33%;
}
#menufooter{
    padding-top: 2%;
    padding-left: 2%;
}

#titresfooter {
    font-size: 18px;
    color: #000;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'robotoregular';

}

h5{
    font-size: 18px;
}

#titreheader {
    position: relative;
    display:  inline-flex;
    text-align:center;
    left: 25%;
}



/*      STEVAN     */

/*???*/
#contenu-onglet {float: right !important;}


/* MENU */

nav {
    text-align: center;
    margin-top: 0px;
}

#menu {
    font-size:5px;
    font-family:"robotoregular","Helvetica","Arial";
    width:100%;
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 10px;
    padding:0;

}

li {
    font-size: 26px;
    color: #000000;
    padding: 0px 10px;
}

li:hover {
    color: #62cb40;
}

/*IMAGE MARCHE*/


#header2{
    display: flex;
    justify-content: center;
    width: 100%;
;

}
#imageRecherche{
    background-image: url("/img/market_background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80%;
    padding: 50px 0px 50px 0px
}

#inputSearch{
    display: flex;
    justify-content: center;
}
/* BARRE DE RECHERCHE */

#search{
    display: flex;
    justify-content: center;
}

#search2{
    display: flex;
    justify-content: center;
}

/* TITRE ' QUE CHERCHEZ VOUS ' */

#cherchezVous{
    font-size: 80px;
    color: white;
    text-align: center;
    font-family:"dk_lemon_yellow_sunregular","Helvetica","Arial";
}

#imageMoment{
    display: flex;
    justify-content: center;
    align-items: center;
}

#fromage{
    padding: 3%;
}

#oeuf{
    padding: 3%;
}

#tomate{
    padding: 3%;
}
/* TITRE ' PRODUIT DU MOMENT ' */

#produitMoment{
    text-align: center;
}

#what{
    text-align: center;
    font-size: 100px;
}

#texta{
    text-align: center;
    font-size: 30px;
}

#plus{
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 2em;
    font-weight: bold;
    background-color: #86cb7b;
    margin: 5px;
    color: #313131;
}

#savoirplus{
    display: flex;
    justify-content: center;
}

#separator{
    align-items: center;
    justify-content: center;
    display: flex;
}

#illu{
    display: flex;
    justify-content: center;
}
/* PAGE LISTE PRODUIT GILDAS */
#cartedetail{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 3%;
}

#carrevert {
    background-color: #b9e199;
    height: 100%;
    margin: 0 auto;
    width: 80%;

}

#texteinterieur {

    margin: 0 auto;
    position: relative;
    text-align: center;

}

#barquettesfraises {
    float: left;
    left: 10%;
    position: relative;
    padding: 1%;
}





/*///////////ESPACE PRO !!//////////////////////
///////////////////////////////////////////////
//////////////////////////////////////////////*/


/*..........main.................*/

#conteneurEspacePro{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.titreArticlePro{
    color: #67b825;
    font-family: 'moon_flowerregular';
    font-weight: bold;
    font-size: 40px;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}


/*....LEFT........*/
#sectionEProLeft{
    width: 20%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#infoPro{
    height: 90%;
    background-color: #fce0e0;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 8px 8px 5px #e0e0e0;
}

.infoProText{
    color: #67b825;
    font-family: 'robotoregular';
    text-transform: uppercase;

}

#MAJinfosPro{
    background-color: #67b825;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    color: white;
    font-family: 'robotoregular';
    text-transform: uppercase;
    box-shadow: 8px 8px 5px #e0e0e0;
    border: none;
}





/*............middle.............*/
#sectionEProMiddle{
    width: 30%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#produitDispoPro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    background-color: #fce0e0;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 8px 8px 5px #e0e0e0;
}

.pdtPro{
    display: flex;
    justify-content: space-around;
}

.descriptionPdtPro{
    display: flex;
    flex-direction: column;
}

.titrePdtPro{
    font-family: 'robotoregular';
    color: #67b825;
}

.imgPdtPro{
    width: 140px;
    height: 140px;
}

#listeEventDispo{
    display: flex;
    flex-direction: column;
    background-color: #fce0e0;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 8px 8px 5px #e0e0e0;
}

.txtPdt, .txtEvent{
    line-height: 5px;
}

#eventDispoPro{
    margin-bottom: 30px;

}

/*.....right...........*/
#sectionEProRight {
    width: 20%;
    height: 90%;
}

#articleProRight, #eventProRight {
    width: 100%;
    height: 100%;
    background-color: #67b825;
    border-radius: 20px;
}



@media screen and (max-width: 1200px)

{

    #articleProRight, #eventProRight{
        height: auto;
    }

    #conteneurEspacePro{
        width: 100%;
    }

    #sectionEProLeft, #sectionEProMiddle, #sectionEProRight{
        width: 30%;
    }

    .titreArticlePro{
        line-height: 40px;
    }

    .txtPdt{
        line-height: 20px;
    }

}

@media screen and (max-width: 800px)

{

    #conteneurEspacePro{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #sectionEProLeft, #sectionEProMiddle, #sectionEProRight{
        width: 95%;
        margin-top: 40px;
        border-radius: 0px;
    }

}


/*///////////PAGE PRODUITS !! //////////////////////
///////////////////////////////////////////////
//////////////////////////////////////////////*/


#mainPagePdt{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0px;
    width: 80%;
    justify-content: center;
}

.iconePdt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;

}

#conteneurMainPdt{
    display: flex;
    justify-content: center;
}




/*............DORIS..........*/

/*........register...........*/

#logoz{
    width: 15%;
    margin-bottom: 5%;
}


#titlinscript{
    text-align: center;
    color: #67b825;
    font-family:'dk_lemon_yellow_sunregular' ;
}

#twigform{
    background-color: #67b825;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;

}

#itsok{
    margin-left: 200px;
    background-color: #afd9ee;
}

td{
    color: #cccccc;
    font-weight: bold;
    font-size: 15pt;
    font-family: "dk_lemon_yellow_sunregular", "Helvetica", "Arial";
}

/*............Login..........*/

#logform{
    background-color: #67b825;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10%;
}

#carte{
    height: auto;
}

#presentation{
    display: flex;
    margin-top: 10%;
    margin-bottom: 20%;

}

#addProduitPro form #form div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

#form_envoyer{
    border: none;
    font-family: 'moon_flowerregular';
    font-weight: bold;
    font-size: 40px;
    background:none;
    color: white;
}



/*................Fin Doris..........*/

#rose {
    background-color: #fce0e0;
    color: #67b825;
    font-family: 'robotoregular';
    margin:1% 2% 10% auto;
    padding:3%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
    box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
}

#rosecompte {
    background-color: #fce0e0;
    color: #67b825;
    font-family: 'robotoregular';
    margin:1% 2% 10% auto;
    width:120%;
    padding:5%;
    height:85%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
    box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
}
#rosetableau {
    background-color: #fce0e0;
    color: #67b825;
    font-family: 'robotoregular';
    margin:1% 2% 10% auto;
    padding:3%;
    height:85%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
    box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
}


#vert {
    background-color: #67b825;
    color: #ffffff;
    font-family: 'robotoregular';
    margin:1% 2% 10% auto;
    padding:3%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
    box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
}

#vertfacture {
    background-color: #67b825;
    color: #ffffff;
    font-family: 'robotoregular';
    padding:1%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
    box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
}

#vertbutton {
    background-color: #67b825;
    color: #ffffff;
    margin:1% auto;
    height:10%;
    padding:1%;
    font-family: 'robotoregular';
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
    box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.50);
}

#button {
    background-color: #67b825;
    color: #ffffff;
    font-size:1.2rem;
    border:1px solid #67b825;
    padding-top:3%;
    padding-bottom:3%;

}

h3 {
    color: #67b825;
    font-size:2.5rem;
    margin:3% auto;
    padding-top:1%;
    font-family: 'moon_flowerregular';
    font-weight:bold;
    text-transform:uppercase;

}
h3#historique {
    color: #67b825;
    font-size:2.5rem;
    margin:3% auto;
    padding-top:10%;
    font-family: 'moon_flowerregular';
    font-weight:bold;
    text-transform:uppercase;

}
p {
    font-size:12px;

}
#bienvenue p{
    text-align:justify;
    font-size:14px;}

h4{
    background-color:#fbc0c0;
    font-size:18px;
    color:#ffffff;
}
h5{
    font-size:16px;
    color: #67b825;
    width:100%;
    font-style:italic;
    font-weight:bold;
}
#gauche {
    float:left;
    position:relative;
    width:50%;
}
#droite {float:left;
    position:relative;
    width:50%;
}
input {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#choix {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;}

/*ESPACE PERSONNEL GILDAS*/
#rose {
    background-color: #fce0e0;
    color: #67b825;
    font-family: 'robotoregular';
    margin:1% 2% 10% auto;
    padding:3%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
}

#rosecompte {
    background-color: #fce0e0;
    color: #67b825;
    font-family: 'robotoregular';
    margin:1% 2% 10% auto;
    width:120%;
    padding:5%;
    height:85%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
}
#rosetableau {
    background-color: #fce0e0;
    color: #67b825;
    font-family: 'robotoregular';
    margin:1% 2% 10% auto;
    padding:3%;
    height:85%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
}


#vert {
    background-color: #67b825;
    color: #ffffff;
    font-family: 'robotoregular';
    margin:1% 2% 10% auto;
    padding:3%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
}

#vertfacture {
    background-color: #67b825;
    color: #ffffff;
    font-family: 'robotoregular';
    padding:1%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
}

#vertbutton {
    background-color: #67b825;
    color: #ffffff;
    margin:1% auto;
    height:10%;
    padding:1%;
    font-family: 'robotoregular';
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 5px rgba(0,0,0,0.75);
}

#button {
    background-color: #67b825;
    color: #ffffff;
    font-size:1.2rem;
    border:1px solid #67b825;
    padding-top:3%;
    padding-bottom:3%;

}

h3 {
    color: #67b825;
    font-size:2.5rem;
    margin:3% auto;
    padding-top:1%;
    font-family: 'moon_flowerregular';
    font-weight:bold;
    text-transform:uppercase;

}
h3#historique {
    color: #67b825;
    font-size:2.5rem;
    margin:3% auto;
    padding-top:10%;
    font-family: 'moon_flowerregular';
    font-weight:bold;
    text-transform:uppercase;

}
p {
    font-size:12px;

}
#bienvenue p{
    text-align:justify;
    font-size:14px;}

h4{
    background-color:#fbc0c0;
    font-size:18px;
    color:#ffffff;
}
h5{
    font-size:16px;
    color: #67b825;
    width:100%;
    font-style:italic;
    font-weight:bold;
}
#gauche {
    float:left;
    position:relative;
    width:50%;
}
#droite {float:left;
    position:relative;
    width:50%;
}
input {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#choix {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;}

/*MEDIA QUERIES HEADER/FOOTER GILDAS*/

@media screen and (max-width: 1199px)

{

    #panier {
        position: relative;
        float: right;
        right: 5%;
        top: 1px;
        width:30px;
    }

    #liens {
        font-size: 0.9em;
        position: relative;

    }

    #liens a {
        padding: 0.5%;
        position: relative;
        top: 25px;
        float: right;
        left: 1.8%;
        font-family: 'robotoregular';

    }

    li {
        font-size: 22px;

    }





}

@media screen and (max-width: 640px) {

    #panier {
        position: relative;
        float: right;
        right: 5%;
        top: 1px;
        width:30px;
    }

    #liens {
        font-size: 0.7em;
        position: relative;
        display: inline-block;
        width: 250px;
        float: right;
        top: 5px;


    }

    #liens a {
        padding-right: 2.9%;
        position: relative;
        left: 8%;
        font-family: 'robotoregular';

    }


    li {
        font-size: 20px;
        color: #000000;
        padding: 0px 10px;
    }





}

@media screen and (max-width: 460px) {

    #panier {
        position: relative;
        float: right;
        right: 5%;
        top: 1px;
        width:30px;
    }

    #liens {
        font-size: 0.7em;
        position: relative;
        display: inline-block;
        width: 50%;
        float: none;
        top: 0;
    }

    #liens a {
        padding-right: 2.9%;
        position: relative;
        font-family: 'robotoregular';
        margin: 0 auto;
        top:0;


    }


    li {
        font-size: 12px;
        color: #000000;
        margin:0 auto;
    }





}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vLi9hc3NldHMvY3NzL3N0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxpQkFBaUIsd0JBQXdCLENBQUMiLCJmaWxlIjoiYXBwLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIiNjb250ZW51LW9uZ2xldCB7ZmxvYXQ6IHJpZ2h0ICFpbXBvcnRhbnQ7fVxyXG5cblxuXG4vLyBXRUJQQUNLIEZPT1RFUiAvL1xuLy8gLi9hc3NldHMvY3NzL3N0eWxlLmNzcyJdLCJzb3VyY2VSb290IjoiIn0=*/
