<h3>Formulaire de contact PanierMalin</h3>
<h4>Demande d'informations du site</h4>

<p><strong>Nouvelle demande de contact</strong></p>

<p>De la part de <strong>{{ prenom }} {{ nom }}</strong></p>
<p>E-mail : <strong>{{ emailUser }}</strong></p>

<p>Corps du message : </p>
<p><strong>{{ message }}</strong></p>