{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}

    <h1 id="what">COMMENT ÇA MARCHE ?</h1>


    <div id="presentation">
        <div>
            <img   src="/img/pic1.png">
            <div id="plus">1.Effectuez votre commande avant chaque Mardi 22h ou Vendredi 22h </div>
        </div>
        <br>
        <div>
            <img src="/img/pic2.png">
            <div id="plus">2.Récupérez votre commande le Mercredi ou le Samedi entre 13h et 19h ou faites vous livrer</div>
        </div>
        <br>
        <div>
            <img src="/img/pic3.png">
            <div id="plus">3.Contribuez à la dimunition du gaspillage alimentaire en évitant que certains produits ne partent à la poubelle</div>
        </div>


    </div>

{% endblock %}
