{% extends 'base.html.twig' %}

{% block body %}
    {% trans_default_domain 'app' %}

    <nav>
        <ul id="menu">
            <li><a href="{{ path('product') }}" > NOS PRODUITS </a></li>
            <li>QUI SOMMES NOUS</li>
            <li> <a href="{{ path('pro') }}">ESPACE PRO</a></li>
            <li><a href="{{ path ('contact_formulaire') }}">CONTACT</a></li>
        </ul>
    </nav>

    <div id="header2">
        <div id="imageRecherche">
            <h2 id="cherchezVous">Que Recherchez vous?</h2>
            <div id="inputSearch">
                <input id="search" type="search" placeholder=" Carotte,Lait,Poulet..." >
                <input id="search2" type="search" placeholder=" Où cherchez vous?" >
                <button  id="submit" type="submit" ></button>
            </div>
        </div>
    </div>
    <h2 id="produitMoment">LES PRODUITS DU MOMENT:</h2>

    <div id="imageMoment">

        <img  src="/img/fromage.png" id="fromage"/>

        <img src="/img/oeuf.png" id="oeuf"/>

        <img src="/img/tomate.png" id="tomate"/>

    </div>

    <div id="separator">
        <img src="/img/separateur.png">
    </div>

    <h1 id="what">COMMENT ÇA MARCHE ?</h1>
    <div id="texta">

        Afin de limiter le gaspillage; ce site à pour vocation de lister le stock des produits risquant d'être jetés en Seine-Maritime <br/>
        Nos produits proviennent d'artisans, agriculteurs , de restaurateurs .. </div>


    <div id="savoirplus">
        <a id="plus" href="{{ path('aboutus') }}">EN SAVOIR +</a>
    </div>

    <div id="separator">
        <img src="/img/separateur.png">
    </div>
    <div id="illu">
        <img src="/img/illuchaine.png">
    </div>
{% endblock %}

