{% extends 'base.html.twig' %}

{% block title %}Formulaire!{% endblock %}

{% block body %}
    <h1>Vos informations ont été mises à jour !!</h1>
    <a>Retour à <a href="{{ path ('tableaudeborduser_formulaire')}}">MON TABLEAU DE BORD</a></h2>
{% endblock %}